
<h1>Register your movie here!</h1>
<form asp-controller="Home" asp-action="Summary">
    <label>Id:</label>
    <input type="number" name="ID"/>
    <br />
    <label>Title:</label>
    <input type="text" name="Title"/>
    <br />
    <label>Genre:</label>
    <select name="Genre">
        <option value="Comedy">Comedy</option>
        <option value="Horror">Horror</option>
        <option value="Romance">Romance</option>
        <option value="Kids">Kids</option>
        <option value="Action">Action</option>
        <option value="Indie">Indie</option>
        <option value="Adventure">Adventure</option>
        <option value="Drama">Drama</option>
        <option value="Animation">Animation</option>
    </select>
    <br />
    <label>Year:</label>
    <input type="number" name="Year" />
    <br />
    <label>Actors:</label>
    
    <input type="text" name="Actors[]"/>
    <input type="text" name="Actors[]"/>
    <input type="text" name="Actors[]"/>
    <input type="text" name="Actors[]"/>
    
    <br />
    <label>Directors:</label>
    <input type="text" name="Directors[]" />
    <input type="text" name="Directors[]" />
    <input type="text" name="Directors[]" />
    <br />
    <input type="submit" />
</form>