@model Movie
    <h1>Register your movie here!</h1>
    <style>
        #error {
            color: red;
        }
    </style>
    <div id="error" asp-validation-summary="All"></div>
    <form method="post">

        <input type="number" name="ID" placeholder="ID" min="0" required />
        <br />
        <input type="text" name="Title" placeholder="Title" required />
        <br />
        <style>
            select:invalid {
                color: gray;
            }

            option {
                color: black;
            }
        </style>
        
        <select name="Genre" required asp-items="@Html.GetEnumSelectList<Genre>()" >
           <option value="">--Select A Genre--</option>

        </select>
        <br />

        @{
        int y = DateTime.Now.Year;
        int z = 1880;

        <input type="number" name="Year" placeholder="Year" min="@z" max="@y" required />
        <br />
        }

        <input type="text" name="Actors[]" placeholder="Actor *Required" required/>
        @{
        for (int i = 0; i < 5; i++)
        {
        <input type="text" name="Actors[]" placeholder="More Actors" />;

        }
        }
        <br />
        <input type="text" name="Directors[]" placeholder="Director *Required" required/>
        @{ for (int i = 0; i < 2; i++)
        {
        <input type="text" name="Directors[]" placeholder="Additional Director" />
        }
        }

        <br />
        <input type="submit" />
    </form>